@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --bodyColor: #222;
  --bodyBackground: #f0f0f0;
  --orange: #ff6200;
  --red: #b31217;
  --green: #69bf31;
  --sidebarColor: ##666;
  --lightBlack: #999;
  --blue: #46a5ff;
  --purple: #7b36a6;
  --borderColor: #dfdfdf;
  --white: #ffffff;
  --black: #2d2520;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bodyBackground);
  color: var(--bodyColor) !important;
}

.container {
  width: 100%;
  max-width: 960px !important;
  margin: 0 auto;
}

@media only screen and (max-width: 996px) {
  .container {
    max-width: 100% !important;
    padding: 0 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none !important;
}

.wrapper-lg {
  max-width: 600px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  overflow: hidden;
}

.layoutWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 300px;
      grid-template-columns: 600px 300px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 996px) {
  .wrapper-lg {
    max-width: 100% !important;
  }
  .wrapper-lg.no-border {
    border: 1px solid transparent;
  }
  .layoutWrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 15px 0;
  }
}

.d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0 20px;
}

.d-grid .card.fj-card .card-body {
  padding: 20px 10px;
}

.d-grid .fj-card.card:last-child {
  margin-bottom: 20px;
}

.d-grid .view.overlay {
  height: 180px;
}

.d-grid .view.overlay img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.main-content {
  padding: 25px;
}

.main-content:last-child p {
  padding-bottom: 13px;
}

p {
  font-size: 16px;
  line-height: 1.8em;
  margin: 0;
}

.archive-description {
  background: var(--white);
  margin: 0 0 35px 0;
  padding: 10px 0 25px;
  border-bottom: 1px solid var(--borderColor);
  text-align: center;
}

.archive-description h1 {
  font-size: 28px !important;
  line-height: 30px !important;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.7;
}

.red-text {
  color: var(--red) !important;
}

.orange-text {
  color: var(--orange);
}

.page-wrapper.center {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  margin: 0 !important;
}

.card-wrapper {
  border: none !important;
  border-bottom: 1px solid var(--borderColor) !important;
  margin: 0 0 35px;
}

.card-wrapper-1 {
  padding: 0;
}

.card-wrapper-1.card {
  margin-bottom: 10px;
}

.card-img {
  image-rendering: -webkit-optimize-contrast;
}

.card.fj-card .card-body-wrapper {
  background-color: #fff;
  min-height: 280px;
  position: relative;
  z-index: 2;
}

.card.fj-card .card-body-wrapper-1 {
  min-height: 100px !important;
}

.card.fj-card .authorInfo {
  color: var(--lightBlack);
  margin-bottom: 20px;
}

.card.fj-card .card-flex {
  margin: 10px 0 0;
}

.card.fj-card .card-flex .card-link {
  margin: 0 15px 0 0;
  float: left;
}

.card.fj-card .card-flex .card-img-wrapper {
  width: 300px;
  height: 250px;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
}

.card.fj-card .card-flex .card-img-wrapper .card-img {
  height: 100%;
}

.card.fj-card .card-flex p {
  font-size: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.card.fj-card .card-body {
  padding: 15px 0px 15px;
}

.card.fj-card .card-body-1 {
  padding: 15px 0px 0px !important;
}

.card.fj-card .card-body a {
  color: var(--black);
}

.card.fj-card .card-body a.italic {
  color: var(--orange);
  font-size: 14px;
  font-weight: bold;
}

.card.fj-card .card-body a.italic:hover {
  text-decoration: underline;
}

.card.fj-card .card-body a.no-italic {
  font-style: normal;
}

.card.fj-card .card-body .card-title {
  font-size: 25px;
  line-height: 36px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.card.fj-card .card-body .card-main-title-2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 26px;
  height: 50px;
}

.card.fj-card .card-body .card-avatar {
  image-rendering: -webkit-optimize-contrast;
}

.card.fj-card .card-body .card-title-avatar {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.card.fj-card .card-body .card-subtitle-avatar {
  font-size: 14px;
}

.card.fj-card .card-date {
  font-size: 13px;
}

.card.fj-card .card-main-title {
  font-size: 22px;
}

.card.fj-card .card-header {
  background-color: transparent;
  padding: 0px 0px 15px;
}

.card.fj-card .card-header img {
  --size: 45px;
  background-color: #fff;
  border: 1px solid #464646;
  border-radius: 50%;
  top: calc(-1 * (var(--size) / 2));
  width: var(--size);
  height: var(--size);
}

.card.fj-card.fj-card-list .card-body-wrapper {
  min-height: 180px;
}

.card.fj-card.fj-card-list .card-header {
  background-color: transparent;
  padding-bottom: 5px;
}

.card.fj-card.placeholder {
  color: transparent;
}

.card.fj-card.placeholder .image-placeholder {
  height: 200px;
  width: 100%;
  background-color: #bebebe;
}

.card.fj-card.placeholder .card-title,
.card.fj-card.placeholder .card-text,
.card.fj-card.placeholder .card-date {
  background-color: #bebebe;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-header-title {
  margin-bottom: 0;
}

.hljs {
  padding: 20px 20px 10px;
  border-radius: 10px;
}

.code-filename,
.image-alt {
  opacity: 0.6;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.code-block {
  position: relative;
}

.code-block button {
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.code-block button.color {
  color: var(--green);
}

.code-copy {
  font-size: 23px;
  position: absolute;
  right: 5%;
  top: 5%;
  color: var(--white);
}

.blog-image {
  margin-bottom: 10px;
  text-align: center;
}

.image-alt {
  margin-top: 3px;
}

.blog-detail-page {
  font-size: 19px;
}

.blog-detail-page .blog-detail-header .lead {
  font-size: 17px;
}

.blog-detail-page .blog-detail-header-title {
  font-size: 52px;
}

.admin-intro .welcome-text {
  font-size: 18px;
}

.page-footer {
  margin-top: 40px;
  padding: 50px;
  background-color: #222;
  color: #eaeaea;
}

.page-footer .center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 1.6fr 0.7fr;
      grid-template-columns: 1.4fr 1.6fr 0.7fr;
}

.page-footer .center p {
  line-height: 20px;
  font-size: 15px;
}

.page-footer .center p:not(:last-child) {
  margin-bottom: 20px;
}

.page-footer .center h3 {
  font-size: 20px !important;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.page-footer .center div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer .center div:nth-child(1) h1 {
  font-size: 40px;
}

.page-footer .center div:nth-child(2) {
  margin-right: 15px;
}

.page-footer .center div:nth-child(3) .icons .icon {
  border: 1px solid rgba(119, 115, 115, 0.3);
  padding: 7px 10px;
  background-color: rgba(10, 10, 10, 0.1);
  color: #eaeaea;
}

.page-footer .center div:nth-child(3) .icons .icon:not(:last-child) {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .page-footer .center {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .page-footer .center div {
    text-align: center;
  }
  .page-footer .center div:not(:last-child) {
    margin-bottom: 30px;
  }
  .page-footer .center div .icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header {
  background-color: var(--bodyColor);
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
}

.nav {
  padding: 16px 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.nav-item {
  list-style: none;
}

.nav-item:last-child {
  height: auto;
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  padding: 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  color: var(--orange);
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    max-width: 350px;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .menu.show {
    left: 0;
    width: 100%;
  }
  .top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--orange);
    padding: 20px 16px;
  }
  .top-nav .close {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .logo h1 {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
  }
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 19px;
    color: #eaeaea;
    padding: 1rem 0;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 20px 16px;
    background-color: #222;
    height: 100%;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sharerHorizontal {
  margin: 10px 0 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--borderColor);
}

.sharerHorizontal .sharerTitle {
  margin-right: 20px;
  border-right: 1px solid var(--borderColor);
  padding-right: 15px;
}

.sharerHorizontal .sharerTitle span {
  display: block;
  text-align: center;
}

.sharerHorizontal .sharerTitle span:nth-child(2) {
  color: var(--lightBlack);
}

.sharerHorizontal .social-button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 8px 10px;
  border-radius: 3px;
  margin-right: 10px;
}

.sharerHorizontal .social-button span {
  margin-left: 5px;
}

.sharerHorizontal .social-button.sharerFacebook {
  background: #3a589e;
  border: 1px solid #3a589e;
}

.sharerHorizontal .social-button.sharerTwitter {
  background: #55acee;
  border: 1px solid #55acee;
}

.sharerHorizontal .social-button.sharerLinkin {
  background: #0077b5;
  border: 1px solid #0077b5;
}

.sharerHorizontal .social-button.sharerPinterest {
  background: #e50022;
  border: 1px solid #e50022;
}

.block-img {
  margin: 10px 0;
}

.block-img-center img {
  width: 100%;
}

.block-img-left {
  float: left;
  margin-right: 30px;
}

.block-img-right {
  float: right;
  margin-left: 30px;
}

.block-img-right, .block-img-left {
  width: 50%;
}

.filtering-menu {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtering-menu div:first-child {
  margin-right: 10px;
}

.filtering-menu span {
  display: inline-block;
  cursor: pointer;
  height: 30px;
}

.filtering-menu span:hover svg {
  fill: #444;
}

.load-btn {
  padding: 8px 30px;
  border: 2px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}

.load-btn:hover, .load-btn:active {
  background-color: var(--orange);
  color: #fff;
}

.grid-layout {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.aside {
  width: 300px;
  margin-left: 30px;
}

.aside .widget {
  margin: 0 0 20px 0;
  padding: 20px;
  background: var(--white);
  border: 1px solid var(--borderColor);
}

.aside .widget .heading {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0 25px 0;
  text-align: center;
}

.aside .widget .heading p {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  padding: 3px 0 0;
}

.aside .widget .social-icons {
  padding: 0 0 7px 0;
  text-align: center;
}

.aside .widget .social-icons a.icon {
  font-size: 24px;
  margin: 0 10px 0 10px;
}

.aside .widget .social-icons a.icon-facebook {
  color: #3b5998;
}

.aside .widget .social-icons a.icon-twitter {
  color: #55acee;
}

.aside .widget .social-icons a.icon-youtube {
  color: #b31217;
}

.aside .widget .social-icons a.icon-pinterest {
  color: #e50022;
}

.aside .widget .social-icons a.icon-linkin {
  color: #0077b5;
}

.aside .widget .social-icons a.icon-envelope {
  color: var(--bodyColor);
}

.aside .widget.advertisement {
  height: 400px;
}

.aside .widget.help .guideicons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.aside .widget.help .guideicons a.guideicon {
  text-align: center;
  color: #666;
  margin: 25px 0;
}

.aside .widget.help .guideicons a.guideicon span {
  font-size: 36px;
  display: block;
  padding-bottom: 10px;
  line-height: 20px;
}

.aside .widget.help .guideicons a.guideicon span.starting {
  color: #46a5ff;
}

.aside .widget.help .guideicons a.guideicon span.speed {
  color: #ff6200;
}

.aside .widget.help .guideicons a.guideicon span.security {
  color: #cf0000;
}

.aside .widget.help .guideicons a.guideicon span.seo {
  color: #46b000;
}

.aside .widget.help .guideicons a.guideicon span.error {
  color: #a6a6a6;
}

.aside .widget.help .guideicons a.guideicon span.shop {
  color: #7b36a6;
}

::-moz-selection {
  color: #fff;
  background-color: var(--orange);
}

::selection {
  color: #fff;
  background-color: var(--orange);
}

@media only screen and (max-width: 996px) {
  html,
  body {
    background-color: var(--white);
  }
  .main-content.no-pad {
    padding: 0 0 25px;
  }
  .aside {
    width: 100%;
    margin: 15px 0 0;
  }
  .aside .widget.help .guideicons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 567px) {
  .sharerHorizontal a {
    font-size: 13px;
  }
  .sharerHorizontal .sharerTitle {
    margin-right: 10px;
    padding-right: 10px;
    font-size: 12px;
  }
  .sharerHorizontal .social-button {
    padding: 5px 7px;
    margin-right: 5px;
  }
}

.youtubeWrapper {
  width: 100%;
}

@media only screen and (max-width: 430px) {
  .card-flex .card-link {
    width: 120px;
    height: auto;
  }
  .card-flex .card-link img {
    border: 1px solid var(--borderColor);
  }
  .sharerHorizontal .social-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sharerHorizontal .social-button span:first-child {
    margin: 0;
    text-align: center;
  }
  .sharerHorizontal .social-button span:last-child {
    display: none;
  }
  .block-img {
    margin: 10px;
    border: 1px solid var(--borderColor);
  }
  .block-img-center {
    width: 100%;
    margin: 10px 0;
  }
  .block-img-left {
    float: left;
  }
  .block-img-right {
    float: right;
  }
  .block-img-right, .block-img-left {
    width: 53%;
    height: auto;
  }
  .page-wrapper {
    padding-top: 40px;
  }
  .google-ads {
    display: none !important;
  }
  .youtubeWrapper {
    height: 190px;
  }
  .download-button {
    width: 200px !important;
    padding: 10px 10px !important;
  }
  .download-button span:last-child {
    font-size: 15px !important;
  }
  .download-link {
    margin: 10px auto 10px;
  }
  .download-link p {
    font-size: 15px !important;
  }
}

.google-ads {
  display: inline-block;
  height: 150px;
  width: 100%;
  margin: 10px 0;
  background-color: var(--white);
}

.download-button {
  width: 250px;
  background-color: var(--orange);
  margin: 10px auto 10px;
  padding: 13px 10px;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.download-button.hide {
  display: none !important;
}

.download-button span {
  display: inline-block;
  color: #fff;
}

.download-button span:last-child {
  font-size: 18px;
  margin-left: 10px;
}

.download-link {
  text-align: center;
  margin: 10px auto 10px;
}

.download-link p {
  font-size: 18px;
  padding-bottom: 0 !important;
}

.download-link p span {
  color: var(--orange);
}

.title {
  margin-bottom: 10px;
}

.title h1 {
  font-size: 2rem;
}

.hljs {
  max-height: 500px;
  max-width: 100%;
}

.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 8px 13px;
  border-radius: 50%;
  background-color: var(--orange);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 10000;
}

.scroll-top span {
  color: #fff;
}

.scroll-top.showBtn {
  display: block;
  visibility: visible;
  opacity: 1;
}

.editor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  -webkit-box-shadow: inset 0px 1px 8px -3px #ababab;
          box-shadow: inset 0px 1px 8px -3px #ababab;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}
/*# sourceMappingURL=styles.css.map */