html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #222 !important;
}

.container {
  width: 100%;
  max-width: 960px !important;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
  color: #222;
}

a {
  text-decoration: none !important;
}

.wrapper-lg {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}

.layoutWrapper {
  display: grid;
  grid-template-columns: 600px 300px;
  align-items: flex-start;
  margin-top: 10px;
  justify-content: space-between;
}

@media only screen and (max-width: 996px) {
  .wrapper-lg {
    max-width: 100% !important;

    &.no-border {
      border: 1px solid transparent;
    }
  }

  .layoutWrapper {
    grid-template-columns: 1fr;
    gap: 15px 0;
  }

  .container {
    max-width: 100% !important;
    padding: 0 20px;
  }
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: flex-start;
  gap: 0 20px;

  .card.fj-card .card-body {
    padding: 20px 10px;
  }

  .fj-card.card:last-child {
    margin-bottom: 20px;
  }

  .view.overlay {
    height: 200px;

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}

.main-content {
  padding: 25px;

  &:last-child {
    p {
      padding-bottom: 13px;
    }
  }

  ul {
    li {
      margin-bottom: 10px;
    }
  }

  ol {
    li {
      margin-bottom: 10px;
    }
  }
}

p {
  font-size: 16px;
  line-height: 1.8em;
  margin: 0;
}

.archive-description {
  background: #fff;
  margin: 0 0 35px 0;
  padding: 10px 0 25px;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;

  h1 {
    font-size: 28px !important;
    line-height: 30px !important;
    margin-bottom: 20px;
  }
}

.orange-text {
  color: #ff6200;
}

.page-wrapper {
  &.center {
    min-height: 100%;
    justify-content: center;
  }
}

.row {
  margin: 0 !important;
}

.card-wrapper {
  border: none !important;
  border-bottom: 1px solid #dfdfdf !important;
  margin: 0 0 35px;

  &-1 {
    padding: 0;

    &.card {
      margin-bottom: 10px;
    }
  }
}

.card.fj-card {
  .card-body-wrapper {
    background-color: #fff;
    min-height: 280px;
    position: relative;
    z-index: 2;

    &-1 {
      min-height: 100px !important;
    }
  }

  .authorInfo {
    font-size: 15px;
    color: #999;
    margin-bottom: 20px;
  }

  .card-flex {
    margin: 10px 0 0;

    .card-link {
      margin: 0 15px 0 0;
      float: left;
      width: 300px;
      height: 250px;
      border: 1px solid #dfdfdf;
      border-radius: 5px;

      img {
        height: 100%;
      }
    }

    p {
      font-size: 16px;
      flex: 0 0 60%;
    }
  }

  .card-body {
    padding: 15px 0px 15px;

    &-1 {
      padding: 15px 0px 0px !important;
    }

    a {
      color: #2d2520;

      &.italic {
        color: #ff6200;
        font-size: 13px;
        font-style: italic;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }

      &.no-italic {
        font-style: normal;
      }
    }

    .blockContent-title {
      font-size: 25px;
      line-height: 36px;
      margin: 0 0 15px 0;
    }

    .card-main-title-2 {
      margin: 0 0 10px 0;
      font-size: 20px;
      line-height: 26px;
      height: 50px;
    }
  }

  .card-main-title {
    font-size: 22px !important;
    line-height: 36px !important;
  }

  &.fj-card-list {
    .card-body-wrapper {
      min-height: 180px;
    }
  }
}

.card.fj-card.placeholder {
  color: transparent;

  .image-placeholder {
    height: 200px;
    width: 100%;
    background-color: #bebebe;
  }

  .card-title,
  .card-text,
  .card-date {
    background-color: #bebebe;
  }
}

.code-filename,
.image-alt {
  opacity: 0.6;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.code-filename {
  margin-top: -10px;
}

.code-block {
  position: relative;
  overflow: auto;

  button {
    outline: none;
    border: none;
    background-color: transparent;
    transition: 300ms ease-in-out;

    &.color {
      color: #69bf31;
    }
  }
}

.code-copy {
  font-size: 23px;
  position: absolute;
  right: 5%;
  top: 2%;
  color: #fff;
}

.blog-detail-page {
  font-size: 19px;

  .blog-detail-header {
    .lead {
      font-size: 17px;
    }

    &-title {
      font-size: 52px;
    }
  }
}

.page-footer {
  .center {
    display: grid;
    grid-template-columns: 1.4fr 1.6fr 0.7fr;

    p {
      line-height: 20px;
      font-size: 15px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    h1 {
      color: #fff;
    }

    h3 {
      font-size: 20px !important;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    div:nth-child(2) {
      margin-right: 15px;
    }

    div:nth-child(3) {
      .icons {
        .icon {
          display: inline-block;
          border: 1px solid rgba(119, 115, 115, 0.3);
          padding: 7px 10px;
          background-color: rgba(10, 10, 10, 0.1);
          color: #eaeaea;

          &:not(:last-child) {
            margin: 0 10px 5px 0;
          }
        }
      }
    }
  }
}

.header {
  background-color: #222;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.navigation {
  justify-content: space-between;
}

.nav {
  padding: 16px 0;
}

.logo h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0;
}

.nav-list {
  margin: 0;
}

.nav-item {
  list-style: none;

  &:last-child {
    height: auto;
  }
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  padding: 10px;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  color: #ff6200;
}

.top-nav,
.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navigation {
    padding: 0;
  }
  .nav {
    padding: 5px 16px;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    max-width: 350px;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    transition: all 500ms ease-in-out;
  }

  .menu.show {
    left: 0;
    width: 100%;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6200;
    padding: 22px 16px;
  }

  .top-nav .close {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .logo h1 {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 19px;
    color: #eaeaea;
    padding: 1rem 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: start !important;
    padding: 20px 16px;
    background-color: #222;
    height: 100%;
  }

  .page-footer {
    .center {
      grid-template-columns: 1fr;

      h1 {
        font-size: 30px !important;
      }

      div {
        text-align: left;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        .icons {
          justify-content: start;
        }
      }
    }
  }
}

.d-flex {
  display: flex !important;
  align-items: center;
}

.sharerHorizontal {
  margin: 10px 0 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;

  .sharerTitle {
    margin-right: 20px;
    border-right: 1px solid #dfdfdf;
    padding-right: 15px;

    span {
      display: block;
      text-align: center;

      &:nth-child(2) {
        color: #999;
      }
    }
  }

  .social-button {
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin-right: 10px;

    span {
      margin-left: 5px;
    }

    &.sharerFacebook {
      background: #3a589e;
      border: 1px solid #3a589e;
    }

    &.sharerTwitter {
      background: #55acee;
      border: 1px solid #55acee;
    }

    &.sharerLinkin {
      background: #0077b5;
      border: 1px solid #0077b5;
    }

    &.sharerPinterest {
      background: #e50022;
      border: 1px solid #e50022;
    }
  }
}

.block-img {
  margin: 10px 0;

  &-center {
    img {
      width: 100%;
    }
  }

  &-left {
    float: left;
    margin-right: 30px;
  }

  &-right {
    float: right;
    margin-left: 30px;
  }

  &-right,
  &-left {
    width: 50%;
  }
}

.filtering-menu {
  margin: 20px 0;

  div:first-child {
    margin-right: 10px;
  }

  span {
    display: inline-block;
    cursor: pointer;
    height: 30px;

    &:hover {
      svg {
        fill: #444;
      }
    }
  }
}

.load-btn {
  padding: 8px 30px;
  border: 2px solid #ff6200;
  background-color: transparent;
  color: #ff6200;
  outline: none;
  border-radius: 10px;
  font-weight: bold;

  &:hover,
  &:active {
    background-color: #ff6200;
    color: #fff;
  }
}

.aside {
  max-width: 300px;

  .widget {
    margin: 0 0 20px 0;
    padding: 20px;
    background: #fff;
    border: 1px solid #dfdfdf;

    .heading {
      font-size: 18px;
      text-align: center;

      p {
        font-size: 14px;
        color: #999;
        font-weight: 400;
        padding: 3px 0 0;
      }
    }

    .social-icons {
      padding: 0 0 7px 0;
      text-align: center;

      a.icon {
        font-size: 24px;
        margin: 0 10px 0 10px;

        &-facebook {
          color: #3b5998;
        }

        &-twitter {
          color: #55acee;
        }

        &-youtube {
          color: #b31217;
        }

        &-pinterest {
          color: #e50022;
        }

        &-linkin {
          color: #0077b5;
        }

        &-envelope {
          color: #222;
        }
      }
    }

    &.help {
      .guideicons {
        display: grid;
        grid-template-columns: 1fr 1fr;

        a.guideicon {
          text-align: center;
          color: #666;
          margin: 25px 0;
          font-size: 15px;

          span {
            font-size: 36px;
            display: block;
            padding-bottom: 10px;
            line-height: 20px;

            &.starting {
              color: #46a5ff;
            }

            &.speed {
              color: #ff6200;
            }

            &.security {
              color: #cf0000;
            }

            &.seo {
              color: #46b000;
            }

            &.error {
              color: #a6a6a6;
            }

            &.shop {
              color: #7b36a6;
            }
          }
        }
      }
    }
  }
}

::selection {
  color: #fff;
  background-color: #ff6200;
}

@media (max-width: 996px) {
  html,
  body {
    background-color: #fff;
  }

  .main-content {
    &.no-pad {
      padding: 0 0 25px;
    }
  }

  .aside {
    max-width: 100%;
    margin: 15px 0 0;

    .widget {
      &.help {
        .guideicons {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .card-wrapper {
    margin: 0 0 25px;
  }

  .card.fj-card {
    .card-flex {
      .card-link {
        width: 200px;
        height: 150px;

        .list-img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .card-main-title {
      font-size: 20px;
      line-height: 30px !important;
      margin: 0 0 5px 0 !important;
    }

    .authorInfo {
      margin-bottom: 10px;
    }

    .card-body {
      padding: 0 !important;

      &-item {
        padding: 10px !important;
      }
    }
  }

  .sharerHorizontal {
    a {
      font-size: 13px;
    }

    .sharerTitle {
      margin-right: 10px;
      padding-right: 10px;
      font-size: 12px;
    }

    .social-button {
      padding: 5px 7px;
      margin-right: 5px;
    }
  }
}

.youtubeWrapper {
  width: 100%;
}

@media (max-width: 430px) {
  .sharerHorizontal {
    .social-button {
      justify-content: center;

      span:first-child {
        margin: 0;
        text-align: center;
      }

      span:last-child {
        display: none;
      }
    }
  }

  .block-img {
    margin: 10px;
    border: 1px solid #dfdfdf;

    &-center {
      width: 100%;
      margin: 10px 0;
    }

    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    &-right,
    &-left {
      width: 53%;
      height: auto;
    }
  }

  .youtubeWrapper {
    height: 190px;
  }

  .download-button {
    width: 200px !important;
    padding: 10px 10px !important;

    span {
      &:last-child {
        font-size: 15px !important;
      }
    }
  }

  .download-link {
    margin: 10px auto 10px;

    p {
      font-size: 15px !important;
    }
  }
}

@media (max-width: 350px) {
  .card.fj-card {
    .card-flex {
      .card-link {
        width: 120px;
      }
    }
  }
}

.download-button {
  width: 250px;
  background-color: #ff6200;
  margin: 10px auto 10px;
  padding: 13px 10px;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  &.hide {
    display: none !important;
  }

  span {
    display: inline-block;
    color: #fff;

    &:last-child {
      font-size: 18px;
      margin-left: 10px;
    }
  }
}

.download-link {
  text-align: center;
  margin: 10px auto 10px;

  p {
    font-size: 18px;
    padding-bottom: 0 !important;

    span {
      color: #ff6200;
    }
  }
}

.title {
  margin-bottom: 10px;
  h1 {
    font-size: 2rem;
  }
}

.prism-code {
  max-height: 500px;
  background-color: #08090a;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 10px;
  font-size: 100%;
}

.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 8px 13px;
  border-radius: 50%;
  background-color: #ff6200;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  z-index: 10000;

  span {
    color: #fff;
  }

  &.showBtn {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

::marker {
  font-size: 20px;
}

.error404 {
  padding: 30px 0;

  .errorImage {
    text-align: center;
  }

  .content {
    text-align: center;
    margin-top: 30px;
    a {
      display: inline-block;
      background-color: #ff6200;
      padding: 10px 30px;
      color: #fff;
      margin-top: 15px;
    }
  }
}

.blockContent {
  p {
    font-size: 15px;
  }
}
