:root {
  --bodyColor: #222;
  --bodyBackground: #f0f0f0;
  --orange: #ff6200;
  --red: #b31217;
  --green: #69bf31;
  --sidebarColor: ##666;
  --lightBlack: #999;
  --blue: #46a5ff;
  --purple: #7b36a6;
  --borderColor: #dfdfdf;
  --white: #ffffff;
  --black: #2d2520;
}

html,
body {
  height: 100%;
  font-family: "Proxima-2", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  background-color: var(--bodyBackground);
  color: var(--bodyColor) !important;
}

.container {
  width: 100%;
  max-width: 960px !important;
  margin: 0 auto;
}

@media only screen and (max-width: 996px) {
  .container {
    max-width: 100% !important;
    padding: 0 20px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Proxima-3";
}

a {
  text-decoration: none !important;
}

.wrapper-lg {
  max-width: 600px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  overflow: hidden;
}

.layoutWrapper {
  display: grid;
  grid-template-columns: 600px 300px;
  align-items: flex-start;
}

@media only screen and (max-width: 996px) {
  .wrapper-lg {
    max-width: 100% !important;

    &.no-border {
      border: 1px solid transparent;
    }
  }

  .layoutWrapper {
    grid-template-columns: 1fr;
    gap: 15px 0;
  }
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: flex-start;
  gap: 0 20px;

  .card.fj-card .card-body {
    padding: 20px 10px;
  }

  .fj-card.card:last-child {
    margin-bottom: 20px;
  }

  .view.overlay {
    height: 180px;

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}

// @media only screen and (max-width: 400px) {
//   .view.overlay {
//     width: 120px;
//     height: auto;
//   }
// }

.main-content {
  padding: 25px;

  &:last-child {
    p {
      padding-bottom: 13px;
    }
  }
}

p {
  font-size: 16px;
  line-height: 1.8em;
  margin: 0;
}

.archive-description {
  background: var(--white);
  margin: 0 0 35px 0;
  padding: 10px 0 25px;
  border-bottom: 1px solid var(--borderColor);
  text-align: center;

  h1 {
    font-family: "Proxima-3";
    font-size: 28px !important;
    line-height: 30px !important;
    margin-bottom: 20px;
  }
}

.clickable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.7;
}

.red-text {
  color: var(--red) !important;
}

.orange-text {
  color: var(--orange);
}

.page-wrapper {
  &.center {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.row {
  margin: 0 !important;
}

.card-wrapper {
  border: none !important;
  border-bottom: 1px solid var(--borderColor) !important;
  margin: 0 0 35px;

  &-1 {
    padding: 0;

    &.card {
      margin-bottom: 10px;
    }
  }
}

.card-img {
  image-rendering: -webkit-optimize-contrast;
}

.card.fj-card {
  .card-body-wrapper {
    background-color: #fff;
    min-height: 280px;
    position: relative;
    z-index: 2;

    &-1 {
      min-height: 100px !important;
    }
  }

  .authorInfo {
    color: var(--lightBlack);
    margin-bottom: 20px;
  }

  .card-flex {
    margin: 10px 0 0;

    .card-link {
      margin: 0 25px 0 0;
      float: left;
    }

    p {
      font-size: 16px;
      flex: 0 0 60%;
    }
  }

  .card-body {
    padding: 15px 0px 15px;

    &-1 {
      padding: 15px 0px 0px !important;
    }

    a {
      color: var(--black);

      &.italic {
        color: var(--orange);
        font-size: 14px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }

      &.no-italic {
        font-style: normal;
      }
    }

    .card-title {
      font-size: 25px;
      line-height: 36px;
      font-weight: bold;
      margin: 0 0 15px 0;
    }

    .card-main-title-2 {
      margin: 0 0 10px 0;
      font-size: 20px;
      line-height: 26px;
      height: 70px;
    }

    .card-avatar {
      image-rendering: -webkit-optimize-contrast;
    }

    .card-title-avatar {
      font-size: 15px;
      text-transform: capitalize;
      margin-bottom: 0;
    }

    .card-subtitle-avatar {
      font-size: 14px;
    }
  }

  .card-date {
    font-size: 13px;
  }

  .card-main-title {
    font-size: 22px;
  }

  .card-header {
    background-color: transparent;
    padding: 0px 0px 15px;

    img {
      --size: 45px;
      background-color: #fff;
      border: 1px solid #464646;
      border-radius: 50%;
      top: calc(-1 * (var(--size) / 2));
      width: var(--size);
      height: var(--size);
    }
  }

  .card-button {
    font-family: "Proxima-3";
  }

  &.fj-card-list {
    .card-body-wrapper {
      min-height: 180px;
    }

    .card-header {
      background-color: transparent;
      padding-bottom: 5px;
    }
  }
}

.card.fj-card.placeholder {
  color: transparent;

  .image-placeholder {
    height: 200px;
    width: 100%;
    background-color: #bebebe;
  }

  .card-title,
  .card-text,
  .card-date {
    background-color: #bebebe;
  }
}

// .card {
//   margin-bottom: 60px;
// }

// HEADER ENDS

.card-header {
  display: flex;
  align-items: center;

  &-title {
    margin-bottom: 0;
  }
}

.hljs {
  padding: 20px 20px 10px;
  border-radius: 10px;
}

.code-filename,
.image-alt {
  opacity: 0.6;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.code-block {
  position: relative;
}

.code-copy {
  font-size: 18px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
}

.blog-image {
  margin-bottom: 10px;
  text-align: center;
}

.image-alt {
  margin-top: 3px;
}

.blog-detail-page {
  font-size: 19px;

  .blog-detail-header {
    .lead {
      font-size: 17px;
    }

    &-title {
      font-size: 52px;
    }
  }
}

.admin-intro {
  .welcome-text {
    font-size: 18px;
  }
}

.page-footer {
  margin-top: 40px;
  padding: 50px;
  background-color: #222;
  color: #eaeaea;

  .center {
    display: grid;
    grid-template-columns: 1.4fr 1.6fr 0.7fr;

    p {
      line-height: 20px;
      font-size: 15px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    h3 {
      font-size: 20px !important;
      font-family: "Proxima-3";
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    div:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-family: "Proxima-3";
        font-size: 40px;
      }
    }

    div:nth-child(2) {
      margin-right: 15px;
    }

    div:nth-child(3) {
      .icons {
        .icon {
          border: 1px solid rgba(119, 115, 115, 0.3);
          padding: 7px 10px;
          background-color: rgba(10, 10, 10, 0.1);
          color: #eaeaea;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .page-footer {
    .center {
      grid-template-columns: 1fr;

      div {
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        .icons {
          justify-content: center;
        }
      }
    }
  }
}

// Navigation
.header {
  background-color: var(--bodyColor);
  width: 100%;
  border-bottom: 1px solid var(--borderColor);
}

.nav {
  padding: 16px 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-item {
  list-style: none;

  &:last-child {
    height: auto;
  }
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  padding: 10px;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  color: var(--orange);
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    max-width: 350px;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    transition: all 500ms ease-in-out;
  }

  .menu.show {
    left: 0;
    width: 100%;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--orange);
    padding: 20px 16px;
  }

  .top-nav .close {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .logo h1 {
    font-family: "Proxima-3";
    font-size: 20px;
  }

  .hamburger {
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 19px;
    color: #eaeaea;
    padding: 1rem 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 20px 16px;
    background-color: #222;
    height: 100%;
  }
}

// Blog Details
.d-flex {
  display: flex;
  align-items: center;
}

.sharerHorizontal {
  margin: 10px 0 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--borderColor);

  .sharerTitle {
    margin-right: 20px;
    border-right: 1px solid var(--borderColor);
    padding-right: 15px;

    span {
      display: block;
      text-align: center;

      &:nth-child(2) {
        color: var(--lightBlack);
      }
    }
  }

  .social-button {
    display: flex !important;
    align-items: center;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    margin-right: 10px;

    span {
      margin-left: 5px;
    }

    &.sharerFacebook {
      background: #3a589e;
      border: 1px solid #3a589e;
    }

    &.sharerTwitter {
      background: #55acee;
      border: 1px solid #55acee;
    }

    &.sharerLinkin {
      background: #0077b5;
      border: 1px solid #0077b5;
    }

    &.sharerPinterest {
      background: #e50022;
      border: 1px solid #e50022;
    }
  }
}

.block-img {
  margin: 10px 0;

  &-center {
    img {
      width: 100%;
    }
  }

  &-left {
    float: left;
    margin-right: 30px;
  }

  &-right {
    float: right;
    margin-left: 30px;
  }

  &-right,
  &-left {
    width: 50%;
  }
}

.filtering-menu {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  div:first-child {
    margin-right: 10px;
  }

  span {
    display: inline-block;
    cursor: pointer;
    height: 30px;

    &:hover {
      svg {
        fill: #444;
      }
    }
  }
}

.load-btn {
  padding: 8px 30px;
  border: 2px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
  outline: none;
  border-radius: 10px;
  font-weight: bold;

  &:hover,
  &:active {
    background-color: var(--orange);
    color: #fff;
  }
}

.grid-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.aside {
  width: 300px;
  margin-left: 30px;

  .widget {
    margin: 0 0 20px 0;
    padding: 20px;
    background: var(--white);
    border: 1px solid var(--borderColor);

    .heading {
      font-size: 18px;
      font-weight: 700;
      padding: 10px 0 25px 0;
      text-align: center;

      p {
        font-size: 14px;
        color: #999;
        font-weight: 400;
        padding: 3px 0 0;
      }
    }

    .social-icons {
      padding: 0 0 7px 0;
      text-align: center;

      a.icon {
        font-size: 24px;
        margin: 0 10px 0 10px;

        &-facebook {
          color: #3b5998;
        }

        &-twitter {
          color: #55acee;
        }

        &-youtube {
          color: #b31217;
        }

        &-pinterest {
          color: #e50022;
        }

        &-linkin {
          color: #0077b5;
        }

        &-envelope {
          color: var(--bodyColor);
        }
      }
    }

    &.advertisement {
      height: 400px;
    }

    &.help {
      .guideicons {
        display: grid;
        grid-template-columns: 1fr 1fr;

        a.guideicon {
          text-align: center;
          color: #666;
          margin: 25px 0;

          span {
            font-size: 36px;
            display: block;
            padding-bottom: 10px;
            line-height: 20px;

            &.starting {
              color: #46a5ff;
            }

            &.speed {
              color: #ff6200;
            }

            &.security {
              color: #cf0000;
            }

            &.seo {
              color: #46b000;
            }

            &.error {
              color: #a6a6a6;
            }

            &.shop {
              color: #7b36a6;
            }
          }
        }
      }
    }
  }
}

::selection {
  color: #fff;
  background-color: var(--orange);
}

@media only screen and (max-width: 996px) {
  html,
  body {
    background-color: var(--white);
  }

  .main-content {
    &.no-pad {
      padding: 0 0 25px;
    }
  }

  .aside {
    width: 100%;
    margin: 15px 0 0;

    .widget {
      &.help {
        .guideicons {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }

  // .hljs {
  //   max-height: 500px;
  //   max-width: 750px !important;
  //   margin-right: 15px;
  // }
}

@media only screen and (max-width: 567px) {
  .sharerHorizontal {
    a {
      font-size: 13px;
    }

    .sharerTitle {
      margin-right: 10px;
      padding-right: 10px;
      font-size: 12px;
    }

    .social-button {
      padding: 5px 7px;
      margin-right: 5px;
    }
  }
}

.youtubeWrapper {
  width: 100%;
}

@media only screen and (max-width: 430px) {
  .card-flex {
    .card-link {
      width: 120px;
      height: auto;

      img {
        border: 1px solid var(--borderColor);
      }
    }
  }

  .sharerHorizontal {
    .social-button {
      justify-content: center;

      span:first-child {
        margin: 0;
        text-align: center;
      }

      span:last-child {
        display: none;
      }
    }
  }

  .block-img {
    margin: 10px;
    border: 1px solid var(--borderColor);

    &-center {
      width: 100%;
      margin: 10px 0;
    }

    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    &-right,
    &-left {
      width: 53%;
      height: auto;
    }
  }

  .page-wrapper {
    padding-top: 40px;
  }

  .google-ads {
    display: none !important;
  }

  .youtubeWrapper {
    height: 190px;
  }

  //
  .download-button {
    width: 200px !important;
    padding: 10px 10px !important;

    span {
      &:last-child {
        font-size: 15px !important;
      }
    }
  }

  .download-link {
    margin: 10px auto 10px;

    p {
      font-size: 15px !important;
    }
  }
}

.google-ads {
  display: inline-block;
  height: 150px;
  width: 100%;
  margin: 10px 0;
  background-color: var(--white);
}

.download-button {
  width: 250px;
  background-color: var(--orange);
  margin: 10px auto 10px;
  padding: 13px 10px;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  &.hide {
    display: none !important;
  }

  span {
    display: inline-block;
    color: #fff;

    &:last-child {
      font-family: "Proxima-3";
      font-size: 18px;
      margin-left: 10px;
    }
  }
}

.download-link {
  text-align: center;
  margin: 10px auto 10px;

  p {
    font-size: 18px;
    padding-bottom: 0 !important;

    span {
      color: var(--orange);
      font-family: "Proxima-3";
    }
  }
}

.title {
  margin-bottom: 10px;
  h1 {
    font-family: "Proxima-3";
    font-size: 2rem;
  }
}

.hljs {
  max-height: 500px;
  max-width: 100%;
}

.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 8px 13px;
  border-radius: 50%;
  background-color: var(--orange);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  z-index: 10000;

  span {
    color: #fff;
  }

  &.showBtn {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
